<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{header/_header :: html-header(title=${#messages.msg('app.sub.page.title', #messages.msg('paypalm.title'), #strings.capitalize(#messages.msg('account.label')))})}">
</head>
<body>
<!--/*@thymesVar id="currency" type="java.util.Currency"*/-->
<!--/*@thymesVar id="user" type="com.shimkiv.paypalm.model.dto.user.User"*/-->
<!--/*@thymesVar id="shoppingCart" type="com.shimkiv.paypalm.model.cart.ShoppingCart"*/-->
<!--/*@thymesVar id="paymentForm" type="com.shimkiv.paypalm.model.vo.form.PaymentForm"*/-->

<div class="container">
    <div th:replace="~{utils/_utils :: navigation}"></div>

    <div class="well infobox content-container table-responsive">
        <div th:replace="~{utils/_utils :: account-header(name=#{checkout.label})}"></div>

        <th:block th:if="${shoppingCart != null && not #lists.isEmpty(shoppingCart.products)}">
            <form id="paymentForm" name="paymentForm" th:action="${#mvc.url('AAC#processPaymentRequest').build()}" th:object="${paymentForm}" method="POST">
                <table class="table table-striped table-hover ">
                    <thead>
                    <tr>
                        <th th:text="#{product.form.product.name.label}"></th>
                        <th th:text="#{product.form.product.price.label}"></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="product : ${shoppingCart.products}">
                        <td th:text="${product.name}"></td>
                        <td th:text="${currency.symbol + ' ' + #numbers.formatDecimal(product.price, 1, currency.defaultFractionDigits)}"></td>
                    </tr>
                    </tbody>
                </table>
                <div th:with="totalAmount" th:replace="~{utils/_utils :: account-list-summary(totalSelectedLabel=#{total.selected.products.label}, totalSelectedCount=${shoppingCart.size()}, totalAmount=${shoppingCart.totalAmount})}"></div>

                <hr />
                <h3 th:text="#{card.info.label}"></h3>
                <div class="form-checkout">
                    <div class="radio radio-primary">
                        <label>
                            <input type="radio" name="cardType" id="visa" value="visa" checked="checked">
                            <th:block th:text="#{visa.credit}" />
                        </label>
                    </div>
                    <div class="radio radio-primary">
                        <label>
                            <input type="radio" name="cardType" id="mastercard" value="mastercard">
                            <th:block th:text="#{master.card}" />
                        </label>
                    </div>
                    <div class="form-group label-floating">
                        <label class="control-label" for="cardNumber" th:text="#{checkout.form.card.number.label}"></label>
                        <input type="number" id="cardNumber" name="cardNumber" class="form-control" maxlength="20" required autofocus />
                        <p class="help-block" th:text="#{checkout.form.card.number.help.label}"></p>
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="expMonth" th:text="#{checkout.form.exp.month.label}"></label>
                        <select id="expMonth" name="expMonth" class="form-control" required>
                            <option th:each="month : ${#numbers.sequence(1, 12)}"
                                    th:value="${#strings.length(month) == 1 ? '0' + month : month}"
                                    th:text="${#strings.length(month) == 1 ? '0' + month : month}">
                            </option>
                        </select>
                        <p class="help-block" th:text="#{checkout.form.exp.month.help.label}"></p>
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="expYear" th:text="#{checkout.form.exp.year.label}"></label>
                        <select id="expYear" name="expYear" class="form-control" required>
                            <option th:each="year : ${#numbers.sequence(#calendars.year(#calendars.createNow()), #calendars.year(#calendars.createNow()) + 10)}"
                                    th:value="${year}"
                                    th:text="${year}">
                            </option>
                        </select>
                        <p class="help-block" th:text="#{checkout.form.exp.year.help.label}"></p>
                    </div>
                    <div class="form-group label-floating">
                        <label class="control-label" for="cardCvv" th:text="#{checkout.form.cvv.label}"></label>
                        <input type="password" id="cardCvv" name="cardCvv" class="form-control" maxlength="4" required />
                        <p class="help-block" th:text="#{checkout.form.cvv.help.label}"></p>
                    </div>
                    <div class="form-group label-floating">
                        <label class="control-label" for="cardHolderName" th:text="#{checkout.form.name.label}"></label>
                        <input type="text" id="cardHolderName" name="cardHolderName" class="form-control" maxlength="50" th:value="${not #strings.isEmpty(user.userSettings.firstName) && not #strings.isEmpty(user.userSettings.lastName)} ? ${user.userSettings.firstName + ' ' + user.userSettings.lastName} : ''" required />
                        <p class="help-block" th:text="#{checkout.form.name.help.label}"></p>
                    </div>
                </div>
                <hr />
                <button id="payButton" class="btn btn-primary btn-lg btn-block btn-raised" type="submit" th:disabled="${#lists.isEmpty(shoppingCart.products)}"><th:block th:text="#{pay.button.label}" />&nbsp;<th:block th:text="${currency.symbol}" /><th:block th:text="${#numbers.formatDecimal(shoppingCart.totalAmount, 1, currency.defaultFractionDigits)}" /></button>
            </form>
        </th:block>

        <th:block th:if="${shoppingCart == null || #lists.isEmpty(shoppingCart)}">
            <div th:replace="~{utils/_utils :: account-empty-list(description=#{product.form.no.products.label})}"></div>
        </th:block>

        <div th:replace="~{utils/_utils :: account-return-back}"></div>
    </div>
</div>

<div th:replace="~{utils/_utils :: settings-dialog}"></div>
<div th:replace="~{utils/_utils :: payment-dialog}"></div>

<div th:replace="~{footer/_footer :: footer(isError=false, isPrivate=true)}"></div>

</body>
</html>
